:host{
  height: 100vh;
  display: block;

  .under-video {
    position: relative;
    height: 20px;
  }

  .position-thumbs{
    height: 100px;

    &.start-position-thumbs{
      background: #ffe8be;
    }
    &.end-position-thumbs{
      background: #c3d2ff;
    }
  }
}
