<div fxLayout="column">
  <div fxLayout="row" fxLayoutGap="10px">
    <input type="number"
           step="1"
           [(ngModel)]="value"
           fxFlex="1 1 110px"
    >
    <input type="range"
           min="0"
           step="1"
           fxFlex="0 1"
           [max]="video?.duration"
           [(ngModel)]="value"
    >
  </div>
  <app-ranged-thumbs fxFlex="70px"
                     [(ngModel)]="value"
                     [video]="video"
  ></app-ranged-thumbs>
  <app-ranged-thumbs fxFlex="70px"
                     [(ngModel)]="value"
                     [video]="video"
                     [step]="0.01"
  ></app-ranged-thumbs>
</div>
