<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <div>
    <button (click)="tagsEditing = true">Show modal</button>
    <app-static-modal-wrapper *ngIf="tagsEditing"
                              (close)="tagsEditing = false">
      <app-tags-editor-modal></app-tags-editor-modal>
    </app-static-modal-wrapper>
  </div>

  <app-time-editor [video]="video"
                   [maxTime]="videoFragment.end"
                   [minTime]="0"
                   [(ngModel)]="videoFragment.start"
                   (ngModelChange)="onTimeChange($event)"
  ></app-time-editor>
  <app-time-editor [video]="video"
                   [maxTime]="video.duration"
                   [minTime]="videoFragment.start"
                   [(ngModel)]="videoFragment.end"
                   (ngModelChange)="onTimeChange($event)"
  ></app-time-editor>
</div>
