<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <input type="button" (click)="onPlaySelectedClick()" value="Play Selected">
  <div>{{selectedVideoDuration}}sec</div>
  <app-time-editor [video]="video"
                   [maxTime]="videoFragment.end"
                   [minTime]="0"
                   [(ngModel)]="videoFragment.start"
                   (ngModelChange)="onTimeChange($event)"
  ></app-time-editor>
  <app-time-editor [video]="video"
                   [maxTime]="video.duration"
                   [minTime]="videoFragment.start"
                   [(ngModel)]="videoFragment.end"
                   (ngModelChange)="onTimeChange($event)"
  ></app-time-editor>
</div>
