:host{
  height: 100%;
  display: block;

  #video{
    max-height: 33vh;
  }

  .under-video {
    position: relative;
    height: 20px;
  }

  app-fragment-scale.selected {
    border: 2px solid blue;
  }
}
