<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <video #video
         id="video"
         controls="controls"
         [hidden]="!videoLoaded"
  ></video>
  <app-fragment-scale [videoFragments]="videoFragments"
                      [hidden]="!videoLoaded"
                      (onScaleClick)="toggleSelectedVideoFragment($event)"
  ></app-fragment-scale>
  <div class="loading-container"
       [hidden]="videoLoaded"
  >
    Loading ... {{loadingProc}}%
  </div>
  <input type="button"
         value="add Fragment"
         (click)="onAddFragmentClick()"
  >
  <div class="fragment-list" fxFlex="1 1 100%">
    <div fxLayout="column" fxLayoutGap="5px">
      <div *ngFor="let videoFragment of videoFragments">
        <app-fragment-scale [videoFragment]="videoFragment"
                            (onScaleClick)="toggleSelectedVideoFragment($event)"
        ></app-fragment-scale>
        <app-video-fragment-editor *ngIf="videoLoaded && videoFragment === selectedVideoFragment"
                                   [video]="video"
                                   [videoFragment]="videoFragment"
                                   (onFragmentChange)="onFragmentChange(videoFragment)"
        ></app-video-fragment-editor>
      </div>
    </div>
  </div>
</div>
