<div fxLayout="column" fxFlexFill fxLayoutGap="10px">
  <video #video
         id="video"
         controls="controls"
         [hidden]="!videoLoaded"
  ></video>
  <app-fragment-scale [videoFragments]="videoFragments"
                      [hidden]="!videoLoaded"
                      (onScaleClick)="toggleSelectedVideoFragment($event)"
  ></app-fragment-scale>
  <div class="loading-container"
       [hidden]="videoLoaded"
  >
    Loading ... {{loadingProc}}%
  </div>
  <input type="button"
         value="add Fragment"
         (click)="onAddFragmentClick()"
  >
  <div fxLayout="row" fxFlex="100%">
    <div fxLayout="column" fxLayoutGap="5px" fxFlex="100px">
      <div *ngFor="let videoFragment of videoFragments">
        <app-fragment-scale [videoFragment]="videoFragment"
                            (onScaleClick)="toggleSelectedVideoFragment($event)"
        ></app-fragment-scale>
      </div>
    </div>
    <app-video-fragment-editor fxFlex="100%"
                               *ngIf="selectedVideoFragment"
                               [video]="video"
                               [videoFragment]="selectedVideoFragment"
                               (onFragmentChange)="onFragmentChange(selectedVideoFragment)"
    ></app-video-fragment-editor>
  </div>
</div>
